{% extends 'base.html' %}
    {% block content %}
                <!-- About me section-->
                <header class="bg-dark py-5">
                    <div class="container px-4 px-lg-5 my-5">
                        <div class="text-center text-white">
                            <h1 class="display-4 fw-bolder">About me</h1>
                            <p class="lead fw-normal text-white-50 mb-0">Welcome to my ecommerce shop</p>
                        </div>
                    </div>
                </header>
                <div class="container">
                    <div class="row">
                        <center>
                            <div class="col-8">
                                <br/><br/>
                                <p align="justify">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam sit amet nisl purus in. Risus ultricies tristique nulla aliquet enim tortor at. Suspendisse potenti nullam ac tortor vitae purus faucibus. Arcu felis bibendum ut tristique et egestas quis. Ornare massa eget egestas purus viverra accumsan in. Nibh tellus molestie nunc non blandit massa enim nec. Eget sit amet tellus cras adipiscing enim. Semper auctor neque vitae tempus quam pellentesque. Massa tincidunt dui ut ornare lectus. Tellus integer feugiat scelerisque varius morbi enim. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.

                                </p>
                            </div>
                        </center>
                    </div>
                </div>
    {% endblock %}