{% extends 'base.html' %}
    {% block content %}

                <div class="container">
                    <div class="card mb-3" >
                        <div class="row g-0">
                          <!-- cart.html -->
                            <h2>Your Cart</h2>
                            <ul>
                                {% for cart_product in cart_products %}
                                    <li>
                                        {{ cart_product.product.name }} - {{ cart_product.quantity }}
                                        <a href="{% url 'remove_from_cart' cart_product.id %}">Remove</a>

                                    </li>
                                {% endfor %}
                            </ul>

                            <!-- product_detail.html -->
                            <h2>{{ product.name }}</h2>
                            <p>Total Price: ${{ total_price }}</p>
                            <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
                        </div>
                    </div>
                </div>
    {% endblock %}